# PostgresDB connection string
DATABASE_URL=
# Better Auth secret (generate with: openssl rand -base64 32)
BETTER_AUTH_SECRET=
# The base URL of the website
BASE_URL=
# API key for the Resend email service
EMAIL_API_KEY=